@font-face {
  font-family: "Roboto-condensed";
  src: url("../Fonts/RobotoCondensedBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-condensed";
  src: url("../Fonts/RobotoCondensedRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-condensed";
  src: url("../Fonts/RobotoCondensedLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

.alert-msg {
  position: absolute;
  top: 5rem;
  right: 2rem;
  display: inline-block;
  padding: 0.55em 0.85em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  animation: 0.3s sessionMsg ease;
  transform: translateX(0);
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  line-height: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.success {
  background-color: rgba(0, 255, 0, 0.2);
  border-color: rgba(0, 255, 0, 0.4);
}

.danger {
  background-color: rgba(255, 0, 0, 0.2);
  border-color: rgba(255, 0, 0, 0.4);
}

.warning {
  background-color: rgba(255, 187, 0, 0.2);
  border-color: rgba(255, 187, 0, 0.4);
}

@keyframes sessionMsg {
  0% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(0);
  }
}

.invalid-feedback {
  color: red;
}

.lang-wrapper ul > li {
  list-style: none;
}

.lang-wrapper ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.lang-wrapper .lang {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  filter: grayscale(100);
  transition: all 0.3s ease;
}

.lang-wrapper .lang:hover {
  filter: grayscale(0);
  transition: all 0.3s ease;
}

.lang-wrapper .lang > a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lang-wrapper .active {
  filter: grayscale(0);
}

.lang-wrapper .es {
  background-image: url("../lang/es.svg");
}

.lang-wrapper .uk {
  background-image: url("../lang/uk.svg");
}

.logo-wrapper {
  max-width: 200px;
}

.item-menu {
  position: relative;
  width: 90%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-menu .prev-item,
.item-menu .next-item {
  position: relative;
  width: 50%;
}

.item-menu .prev-item > a,
.item-menu .next-item > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  text-transform: none;
  font-family: sans-serif;
  color: black;
  font-weight: 500;
  width: 200px;
}

.item-menu .prev-item > a img,
.item-menu .next-item > a img {
  position: absolute;
  width: 200px;
  height: 50px;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

.item-menu .prev-item > a span,
.item-menu .next-item > a span {
  z-index: 1;
}

.item-menu .prev-item > a::before,
.item-menu .next-item > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.item-menu .prev-item > a:hover::before,
.item-menu .next-item > a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.item-menu .prev-item > a {
  float: left;
  flex-direction: row;
}

.item-menu .prev-item > a span {
  padding-left: 1.5rem;
}

.item-menu .next-item > a {
  float: right;
  flex-direction: row-reverse;
}

.item-menu .next-item > a span {
  padding-right: 1.5rem;
}

/* ###################################
 Normalize
 ################################### */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* 
 ###################################
 Normalize end
 ###################################
 */
.page-content {
  margin: 2rem auto;
  width: 95%;
}

form .form-group {
  margin-bottom: 1rem;
}

form label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

form .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-green {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-green > a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-green:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}

.btn-orange {
  color: #333;
  background-color: #ffca2c;
  border-color: #ffc720;
}

.btn-orange > a {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-orange:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-red {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-red > a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-red:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}

.btn.full {
  width: 100%;
}

.page-content {
  max-width: 90%;
  margin: auto;
}

@media (min-width: 360px) {
  .page-content {
    width: 35rem;
  }
}

@media (min-width: 768px) {
  .page-content {
    width: 76.8rem;
  }
}

@media (min-width: 1024px) {
  .page-content {
    width: 102.4rem;
  }
}

.page-content h2 {
  text-align: center;
  margin: 0 0 2rem;
}

.page-content .items-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.page-content .items-wrapper .item {
  width: 100%;
  margin: auto;
  height: 30rem;
  overflow: hidden;
  box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.5);
}

.page-content .items-wrapper .item * > a {
  color: #333;
  text-decoration: none;
}

@media (min-width: 360px) {
  .page-content .items-wrapper .item {
    flex: 1 1 25rem;
  }
}

@media (min-width: 768px) {
  .page-content .items-wrapper .item {
    flex: 1 1 30rem;
  }
}

@media (min-width: 1024px) {
  .page-content .items-wrapper .item {
    flex: 1 1 40rem;
  }
}

.page-content .items-wrapper .item:nth-child(-n + 1) {
  flex: 1 1 100%;
  height: 50rem;
}

@media (min-width: 360px) {
  .page-content .items-wrapper .item:nth-child(-n + 1) {
    height: 30rem;
  }
}

.page-content .items-wrapper .item .content {
  position: relative;
  display: block;
  text-decoration: none;
  color: #333;
  width: 100%;
  height: 100%;
}

.page-content .items-wrapper .item .content img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.page-content .items-wrapper .item .content .item-data {
  position: absolute;
  max-height: 9rem;
  width: 100%;
  bottom: 0%;
  transition: all 0.3s ease;
  font-family: "Roboto-condensed";
  font-weight: normal;
  border-radius: 3rem 3rem 0 0;
  user-select: none;
  width: 100%;
  text-shadow: 0.5px 0.5px 2px rgba(255, 255, 255, 0.5), 0.8px 0.8px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -10px 11px -8px rgba(0, 0, 0, 0.5);
}

.page-content .items-wrapper .item .content .item-data h3 {
  padding: 2rem 1rem 1rem;
  height: 6rem;
  font-size: 2rem;
  line-height: 1em;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Roboto-condensed";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content .items-wrapper .item .content .item-data .item-cad {
  font-family: "Roboto-condensed";
  font-weight: lighter;
  text-align: center;
  height: 3rem;
}

.page-content .items-wrapper .item .content .item-data .item-cad span:nth-child(1)::after,
.page-content .items-wrapper .item .content .item-data .item-cad span:nth-child(2)::after {
  content: "|";
  position: relative;
  display: inline-block;
}

.page-content .items-wrapper .item .content .item-data .item-cad span:nth-last-child()::after {
  content: "";
  position: relative;
  display: none;
}

.page-content .items-wrapper .item .content .item-data .item-cad .item-author,
.page-content .items-wrapper .item .content .item-data .item-cad .item-cat,
.page-content .items-wrapper .item .content .item-data .item-cad .item-create {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: lighter;
}

.page-content .items-wrapper .item .content .item-data .item-cad .item-author:hover,
.page-content .items-wrapper .item .content .item-data .item-cad .item-cat:hover,
.page-content .items-wrapper .item .content .item-data .item-cad .item-create:hover {
  font-weight: normal;
}

.page-content .items-wrapper .item .content .item-data .item-desc {
  padding: 1rem 1.5rem 2rem;
  user-select: none;
  font-size: 1.4rem;
  text-align: center;
}

.page-content .items-wrapper .item .content:hover .item-data {
  max-height: 25rem;
  transition: all 0.3s ease;
  text-shadow: none;
}

.page-content .items-wrapper .item:nth-child(5n + 1) .content .item-data {
  background-color: rgba(200, 147, 164, 0.5);
}

.page-content .items-wrapper .item:nth-child(5n + 2) .content .item-data {
  background-color: rgba(146, 166, 181, 0.5);
}

.page-content .items-wrapper .item:nth-child(5n + 4) .content .item-data {
  background-color: rgba(133, 179, 193, 0.5);
}

.page-content .items-wrapper .item:nth-child(5n + 3) .content .item-data {
  background-color: rgba(184, 169, 101, 0.5);
}

.page-content .items-wrapper .item:nth-child(5n + 5) .content .item-data {
  background-color: rgba(153, 173, 167, 0.5);
}

.page-content .items-wrapper .item:hover:nth-child(5n + 1) .content .item-data {
  background-color: #c893a4;
}

.page-content .items-wrapper .item:hover:nth-child(5n + 2) .content .item-data {
  background-color: #92a6b5;
}

.page-content .items-wrapper .item:hover:nth-child(5n + 4) .content .item-data {
  background-color: #85b3c1;
}

.page-content .items-wrapper .item:hover:nth-child(5n + 3) .content .item-data {
  background-color: #b8a965;
}

.page-content .items-wrapper .item:hover:nth-child(5n + 5) .content .item-data {
  background-color: #99ada7;
}

*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  border-bottom: 2px solid #333;
}

main {
  background-color: #fff;
  min-height: 100vh;
  margin-bottom: 4rem;
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  background-color: #333;
  color: #f2f2f2;
}

@media (min-width: 360px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
/*# sourceMappingURL=app.css.map */