.alert-msg {
  position: absolute;
  top: 5rem;
  right: 2rem;
  display: inline-block;
  padding: 0.55em 0.85em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  animation: 0.3s sessionMsg ease;
  transform: translateX(0);
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  line-height: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.success {
  background-color: rgba(0, 255, 0, 0.2);
  border-color: rgba(0, 255, 0, 0.4);
}

.danger {
  background-color: rgba(255, 0, 0, 0.2);
  border-color: rgba(255, 0, 0, 0.4);
}

.warning {
  background-color: rgba(255, 187, 0, 0.2);
  border-color: rgba(255, 187, 0, 0.4);
}

@keyframes sessionMsg {
  0% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(0);
  }
}

.invalid-feedback {
  color: red;
}

body {
  background: linear-gradient(45deg, #c9c9c95e, #d8ff0000);
}

.item-menu {
  position: relative;
  width: 90%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-menu .prev-item,
.item-menu .next-item {
  position: relative;
  width: 50%;
}

.item-menu .prev-item > a,
.item-menu .next-item > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  text-transform: none;
  font-family: sans-serif;
  color: black;
  font-weight: 500;
  width: 200px;
}

.item-menu .prev-item > a img,
.item-menu .next-item > a img {
  position: absolute;
  width: 200px;
  height: 50px;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

.item-menu .prev-item > a span,
.item-menu .next-item > a span {
  z-index: 1;
}

.item-menu .prev-item > a::before,
.item-menu .next-item > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.item-menu .prev-item > a:hover::before,
.item-menu .next-item > a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.item-menu .prev-item > a {
  float: left;
  flex-direction: row;
}

.item-menu .prev-item > a span {
  padding-left: 1.5rem;
}

.item-menu .next-item > a {
  float: right;
  flex-direction: row-reverse;
}

.item-menu .next-item > a span {
  padding-right: 1.5rem;
}

ul.navbar {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 768px;
  list-style: none;
}

ul.navbar li > a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #333;
}

ul.navbar li > a.active {
  border-bottom: 3px solid #333;
}

ul.navbar li > a::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  right: 0;
  height: 0;
  background-color: #333;
  transition: all 0.3s ease;
}

ul.navbar li > a:hover::after {
  height: 2px;
  transition: all 0.3s ease;
}
/*# sourceMappingURL=app.css.map */