//post nav next - previos
.item-menu {
  position: relative;
  width: 90%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .prev-item,
  .next-item {
    position: relative;
    width: 50%;
  }
  .prev-item > a,
  .next-item > a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    text-transform: none;
    font-family: sans-serif;
    color: black;
    font-weight: 500;
    width: 200px;

    img {
      position: absolute;
      width: 200px;
      height: 50px;
      object-fit: cover;
      opacity: 0.5;
      z-index: -1;
    }
    span {
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #18272f;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
  .prev-item > a {
    float: left;
    flex-direction: row;
    span {
      padding-left: 1.5rem;
    }
  }
  .next-item > a {
    float: right;
    flex-direction: row-reverse;
    span {
      padding-right: 1.5rem;
    }
  }
}
