.page-content {
  max-width: 90%;
  margin: auto;

  @media (min-width: $phone) {
    width: 35rem;
  }
  @media (min-width: $tablet) {
    width: 76.8rem;
  }
  @media (min-width: $pc) {
    width: 102.4rem;
  }

  h2 {
    text-align: center;
    margin: 0 0 2rem;
  }
  .items-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    .item {
      width: 100%;
      margin: auto;
      height: 30rem;
      overflow: hidden;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
      * > a {
        color: #333;
        text-decoration: none;
      }
      @media (min-width: $phone) {
        flex: 1 1 25rem;
      }
      @media (min-width: $tablet) {
        flex: 1 1 30rem;
      }
      @media (min-width: $pc) {
        flex: 1 1 40rem;
      }
      &:nth-child(-n + 1) {
        flex: 1 1 100%;
        height: 30rem;
        @media (min-width: $tablet) {
          height: 40rem;
        }
        @media (min-width: $pc) {
          height: 50rem;
        }
      }
      .content {
        position: relative;
        display: block;
        text-decoration: none;
        color: #333;
        width: 100%;
        height: 100%;
        img {
          object-fit: cover;
          position: absolute;
          width: 100%;
          height: 100%;
          filter: grayscale(100%);
          transition: all 0.3s ease;
        }
        &:hover img {
          filter: grayscale(0);
          transition: all 0.3s ease;
        }
        .item-data {
          position: absolute;
          max-height: 9rem;
          bottom: 0%;
          // left: 50%;
          // transform: translateX(-50%);
          right: 0;
          transition: all 0.5s ease;
          font-family: "Roboto-condensed";
          font-weight: normal;
          border-radius: 3rem 3rem 0 0;
          user-select: none;
          width: 100%;
          text-shadow: 0.5px 0.5px 2px rgba(#ffffff, 0.5),
            0.8px 0.8px 5px rgba(#000000, 0.5);
          box-shadow: 0px -10px 11px -8px rgba(0, 0, 0, 0.5);

          @media (min-width: $phone) {
            max-width: 30rem;
          }
          @media (min-width: $tablet) {
            max-width: 30rem;
          }
          @media (min-width: $pc) {
            max-width: 30rem;
          }

          h3 {
            padding: 2rem 1rem 1rem;
            height: 6rem;
            font-size: 2rem;
            line-height: 1em;
            text-align: center;
            font-weight: 800;
            text-transform: uppercase;
            font-family: "Roboto-condensed";
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              display: block;
              height: 100%;
            }
          }

          .item-cad {
            font-family: "Roboto-condensed";
            font-weight: lighter;
            text-align: center;
            height: 3rem;
            span:nth-child(1)::after,
            span:nth-child(2)::after {
              content: "|";
              position: relative;
              display: inline-block;
            }

            span:nth-last-child()::after {
              content: "";
              position: relative;
              display: none;
            }
            .item-author,
            .item-cat,
            .item-create {
              text-transform: uppercase;
              font-size: 1.3rem;
              font-weight: lighter;
              &:hover {
                font-weight: normal;
              }
            }
          }
          .item-desc {
            padding: 1rem 1.5rem 2rem;
            user-select: none;
            font-size: 1.4rem;
            text-align: center;
          }
        }
        &:hover .item-data {
          max-height: 25rem;
          transition: all 0.5s ease;
          text-shadow: none;
        }
      }

      &:nth-child(5n + 1) .content .item-data {
        background-color: rgba(#c893a4, 0.5);
      }
      &:nth-child(5n + 2) .content .item-data {
        background-color: rgba(#92a6b5, 0.5);
      }
      &:nth-child(5n + 4) .content .item-data {
        background-color: rgba(#85b3c1, 0.5);
      }
      &:nth-child(5n + 3) .content .item-data {
        background-color: rgba(#b8a965, 0.5);
      }
      &:nth-child(5n + 5) .content .item-data {
        background-color: rgba(#99ada7, 0.5);
      }
      &:hover {
        &:nth-child(5n + 1) .content .item-data {
          background-color: rgba(#c893a4, 1);
        }
        &:nth-child(5n + 2) .content .item-data {
          background-color: rgba(#92a6b5, 1);
        }
        &:nth-child(5n + 4) .content .item-data {
          background-color: rgba(#85b3c1, 1);
        }
        &:nth-child(5n + 3) .content .item-data {
          background-color: rgba(#b8a965, 1);
        }
        &:nth-child(5n + 5) .content .item-data {
          background-color: rgba(#99ada7, 1);
        }
      }
    }
  }
}
