* > * > a:-webkit-any-link {
  position: relative;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  color: $base-text;
  line-height: 3rem;
  .tooltip {
    visibility: hidden;
    width: auto;
    // background-color: rgba(146, 74, 92, 0.6);
    color: #fff;
    line-height: 1rem;
    text-align: center;
    border-radius: $gap * 2 $gap * 2 $gap * 2 0;
    position: absolute;
    z-index: 1;
    padding: $gap;
    text-align: right;
    bottom: 90%;
    left: 90%;
    min-width: 90px;
    max-width: 140px;
    font-size: 1.2rem;
    overflow: hidden;
    &::after {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      position: absolute;
      background-color: #020202;
      border-radius: $gap * 2 $gap * 2 $gap * 2 0;
      filter: blur(30px);
      z-index: -1;
    }
  }
  &:is(:hover, :focus) .tooltip {
    visibility: visible;
  }
}

.items-wrapper {
  padding-top: 4rem;
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: $gap * 2;

  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
  .item {
    text-decoration: none;
    box-shadow: $shadowFar;
    display: flex;
    flex-direction: column;
    height: 35rem;
    overflow: hidden;
    border-radius: $gap/4;

    position: relative;
    top: 0;
    transition: $transition03;

    img {
      height: 22rem;
      width: 100%;
      object-fit: cover;
      transition: $transition03;
      filter: brightness(70%);
    }
    .item-data {
      padding: $gap;
      h3 {
        text-align: left;
        font-size: 2.2rem;
        font-family: "Roboto-condensed";
        font-weight: bold;
      }

      .item-desc {
        font-size: 1.4rem;
      }

      .item-create {
        position: absolute;
        padding: $gap;
        // border-radius: 50% 0 50% 50%;
        top: 0rem;
        right: 0rem;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        transform: translateX(10rem);
        transition: $transition03;
        span {
          white-space: nowrap;
          text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
          font-size: 1.2rem;
          font-weight: bold;
        }
        .item-create-day {
          font-size: 1.5rem;
          line-height: 1rem;
        }
        .item-create-month {
          text-decoration: underline;
          text-transform: uppercase;
        }
      }
    }
    a.itemReadMore {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: -100%;
      transition: $transition03;
      svg {
        width: $gap * 3;
        height: $gap * 3;
      }
    }
    &:is(:hover, :focus) {
      top: -2px;
      box-shadow: $shadowNear;
      transition: $transition03;

      img {
        height: 20rem;
        filter: brightness(100%);
      }
      a.itemReadMore {
        bottom: 0;
      }
    }
    &:is(:hover, :focus).first {
      img {
        height: 20rem;
      }
    }
    &:nth-child(6n + 1) {
      @media (min-width: 60em) {
        grid-column: 1 / span 2;
      }
    }
    &:nth-child(6n + 6) {
      @media (min-width: 60em) {
        grid-column: 3 / span 2;
      }
    }

    &:is(:hover, :focus) {
      &:nth-child(6n + 1) {
        background-color: $ChildColor1;
        .item-data .item-create {
          visibility: visible;
          background-color: $ChildColor1;
          transform: translateX(0);
        }
        img {
          border-bottom: $gap solid $ChildColor1;
        }
      }
      &:nth-child(6n + 2) {
        background-color: $ChildColor2;
        img {
          border-bottom: $gap solid $ChildColor2;
        }
        .item-data .item-create {
          visibility: visible;
          background-color: $ChildColor2;
          transform: translateX(0);
        }
      }
      &:nth-child(6n + 3) {
        background-color: $ChildColor3;
        img {
          border-bottom: $gap solid $ChildColor3;
        }
        .item-data .item-create {
          visibility: visible;
          background-color: $ChildColor3;
          transform: translateX(0);
        }
      }
      &:nth-child(6n + 4) {
        background-color: $ChildColor4;
        img {
          border-bottom: $gap solid $ChildColor4;
        }
        .item-data .item-create {
          visibility: visible;
          background-color: $ChildColor4;
          transform: translateX(0);
        }
      }
      &:nth-child(6n + 5) {
        background-color: $ChildColor5;
        img {
          border-bottom: $gap solid $ChildColor5;
        }
        .item-data .item-create {
          visibility: visible;
          background-color: $ChildColor5;
          transform: translateX(0);
        }
      }
      &:nth-child(6n + 6) {
        background-color: $ChildColor6;
        img {
          border-bottom: $gap solid $ChildColor6;
        }
        .item-data .item-create {
          visibility: visible;
          background-color: $ChildColor6;
          transform: translateX(0);
        }
      }
    }
  }
}
